.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
/cookbooks

# Bundler
Gemfile.lock
bin/*
.bundle/*
target/
common-play-utils/target/
.DS_Store
**/.DS_Store
.settings
.gradle
.vagrant.d
.idea
logs/
/.target
/.classpath
/.project
.idea_modules
*.ipr
*.iws
.shelf
*.sbtserver
/project/.sbtserver.lock
/project/play-fork-run.sbt
/project/sbt-ui.sbt
activator
project/target
project/project
common-play-utils/project/target
common-play-utils/project/project